

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    
}

.conteneur {
    width: 95%;
    margin: auto;
    max-width: 1400px;
}

a {
    margin: 0;
    padding: 0;
    width: 100%;
}

.fa-solid {color: #0065FC;}
.fa-regular {color: #f2f2f2;}

/*  haut de page */

a:link {
    text-decoration: none;
    color: black;
}

a:visited { color: inherit;}


header img {
    object-fit: contain;
    padding-top: 2em;
    padding-left: 1em;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    
}


header ul {
    display: flex;
    margin: auto;
    list-style: none;
    font-weight: 500;
    text-align: center;
    
}


.bouton:hover {
    color: #0065FC;
    border-top: solid;
    padding-top: 2em;
}


.menu-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 20%;
}


.menu-navigation ul { width: 100% }


.en-tete {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}


.titre-et-texte h1 { padding-bottom: 0.2em;}
.mb { margin-bottom: 1em; }


.bouton {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 2em;
}


/*   fin haut de page */
 

/*  barre de recherche */

.recherche {
    display: flex;
    flex-direction: row;
    border-radius: 16px;
        
}


.localisation i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    background-color: #f2f2f2;
    padding: 1em;
    border-radius: 15px 0px 0px 15px;
    color: black;

}

.recherche input {
    width: 13em;
    border : 1px solid #f2f2f2;
    padding-left: 1em;
    font-size: 18px;
}

::placeholder {
    opacity: 1;
    font-weight: 700;
    color: black;       
}


.bouton-rechercher {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: 1px;
    color: #FFFFFF;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    width: 8em;
    margin-left: -5px;
    

}
.icone-loupe i { display: none; }

/* fin barre de recherche */


/*  debut filtre */

.filtres {
    display: flex;
    font-weight: 700;
    flex-direction: row;
   margin-top:2em;
    align-items: center;
}

.boite-filtre {
    display: flex;
    flex-direction: row;
    margin-left: 2em;
    padding: 10px 25px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;   
}

.boite-filtre i { position: relative; left: -5px;}
.boite-filtre:hover {background-color: #DEEBFF;}



.filtres-box { margin-right: 10px;}
.filtres-box:hover {background: #DEEBFF;}

.icone {
    color: #0065FC;
    margin-left: -10px;
}

.cercle-i { margin: 1em;}

.cercle-i i {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.4em 0.7em;
    font-size: 12px;
    color: #0065FC;
}


.economique-familial {
    display: flex;
    flex-direction: row;
}

.romantique-animal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*  fin filtre */


/*  debut hebergement de marseille */

.hebergement-et-populaire {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 42em;
    
}

.bloc-hebergement {width :100%;}

.boite-hebergement {
    width: 96%;
    height: 100%;
    border-radius: 20px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  
    
}

.image-boite{ 
    width: 100%; 
    height: 9em;
}


.hebergement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2.sous-titre {
    
    font-weight: bold;
    margin-top: 1em;
    position: relative;
    left: 1em;
}

.nom-hebergement {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    padding-bottom: 0.2em;
    
}

.prix-hebergement {font-size: 14px;}

.i-hebergement{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: -0.5em;
    font-size: 15px;
}

.carte-hebergement { 
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 20px;
    margin: 1em;
    background-color: #FFFFFF;
  
}

.image-hebergement {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 100%;
    border: 5px;
    color: #FFFFFF;
    padding: 0.5em;
    object-fit: cover;
}


.info-hebergement {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
    padding-left: 1em;
}


.boite-cliquable { 
    width: 100%;
    height: 100%; 
    display: block;
}


.detail-hebergement { 
    position: relative;
    top: -2em;
    left: 2em;
    font-size: 18px;
    margin-top: 2em;
}


/*  fin hebergement de marseille */

/* debut les plus populaire */

h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.populaire-titre-icone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
    margin: 2em 1em 0em;
    align-items: center;
}

.populaire-titre-icone i {
    padding-top: 0.5em;
    font-size: 20px;
}



aside i {
    color: #0065FC;
    width: 10%;
}

aside {
    width: 40%;
    height: 42em;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    
}



.carte-populaire {
    width: 95%;
    margin: 30px 5px 10px 8px;
    border-radius: 20px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    

    
}

.info-populaire {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5em;

   
} 

.image-populaire {
    width: 100%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    padding: 0.5em;
    object-fit: cover;
    
}

.carte-image-populaire {
    display: flex;
    flex-direction: row;
    height: 10em;
    width: 40%;
}

.titre-populaire {
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    
}

.prix-populaire {
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    
}

.Activites {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em;
}


.titre-activite {

    margin-bottom: -2.5em;
    padding: 1em;
}

.activite-marseille {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.carte-activite {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin: 49px 0px 61px 30px;
    padding: 2px;
}

.carte-image-activite {
    width: 100%;
    height: 26em;
    border-radius: 10px 10px 0px 0px;
}

.image-activite { 
    width: 100%;
    height: 100%;
    border-radius:10px 10px 0px 0px; 
    object-fit: cover;


}

.lieu-activite {
    font-weight: bold;
    padding: 0.6em;
}

.bloc-footer {
    width: 95%;
    background-color: #f2f2f2;
    padding: 30px 30px;
    margin-left: 20px;
    
}


.boite-footer {
width: 80%;
padding-left: 2em;

}
.menu-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-footer ul {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    margin: 10px 0;
}


.menu-footer li {margin: 5px;}
.titre-footer { font-size: 18px; font-weight: 700;}
.contenu-footer {font-size: 16px; font-weight: 400;}



@media all and (min-width: 768px) and (max-width:991px) {

* { font-size: 13px;}

 a {font-size: 14px;}


.titre-et-texte h1 {font-size: 19px;} 

.titre-et-texte span{
    font-size: 15px;
    padding-bottom: 0.3em;
}

.menu-navigation { width: 40%; }

.recherche input{ font-size: 17px;}
.bouton { margin-left: 1em;}


.boite-filtre {margin-left: 1em;}

.icone-position i { padding: 1.4em;}

    .hebergement-et-populaire {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

 h2.sous-titre {font-size: 17px;}


    .boite-hebergement {

        width: 100%;
        height: 40em;
    }

 

.detail-hebergement  { top: -1.3em; left: 1em;}
 .detail-hebergement b {font-size: 17px;}   
    


 

    aside {
        width: 100%;
        height: 21em;
        margin-top: 2em;
        padding: 0 1em;
        
    }

  aside article { width: 35%;}


    .populaire-titre-icone{
        margin:1em;
        position: relative;
        bottom: -1em;
        align-items: center;
    }


    .populaire-titre-icone h2{ font-size: 20px; padding-left: 1em;}
    .populaire-titre-icone i {padding-left: 2em;}

    .bloc-carte {

        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    .carte-populaire{
    
    
        display: flex;
        flex-direction: row;
        width: auto;
        
    }

    .image-populaire {

        width: 7em;
        object-fit: cover;

    }

    .carte-image-populaire { margin-right: initial;}

    .texte-populaire {

        position: relative;
        top: initial;
        left: initial;
        
    }
    
    .titre-populaire {
        font-size: 13px;
        padding-top: initial;
        line-height: normal;
    
    }

    .prix-populaire {font-size: 12px;}
    

    .i-populaire {

    position: relative;
    bottom: initial;
    left: initial;
    }

    .titre-activite {

 margin-bottom: -2em;
 font-size: 18px;

    }


    .carte-activite{margin: 49px 13px 31px 20px;}
    
    .carte-image-activite{height: 14em;}

    .lieu-activite {

   padding-bottom: 0.6em;
   padding-top: 0.7em;
   margin-left: 0.3em;
   position: relative;
   bottom: -0.3em;

    }
    
  .boite-footer {width: 90%;}


            }
    



 @media all and (max-width:767px) {




    

.conteneur {width: 100%;}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

header img {padding: 1em;}

.menu-navigation {width: 100%;}

.bouton {

    border-bottom: solid 2px #f2f2f2;
    padding-bottom: 1em;
    width: 50%;
}        

.bouton:hover {
    color: #0065FC;
    border-top: hidden;
    border-bottom: solid 2px #0065FC;
   
   
}


.titre-et-texte {

    margin-left: 1em;
    padding-left: 0.5em;
    padding-bottom: 1em;
    font-size: 13px;
    width: 90%;
}

.titre-et-texte h1 {font-size: 21px; padding-bottom: 0.5em;}
.titre-et-texte span {font-size: 16px;}

.en-tete {width: 95%;}

.bouton-rechercher  {display: none;}


.recherche {margin-left:1em;}
.recherche input {width: 15em; }

.icone-loupe i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: 1px;
    color: #FFFFFF;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    width: 3em;
    height: 3em;
    margin-left: -5px;

}



.filtres {

display: flex;
flex-direction: column;
align-items: initial;
width: 100%;
}

.filtres-titres {

    position: relative;
    left: 10px;
}

.boite-filtre { 

    display : flex; 
    align-items: center; 
    margin: 15px 11px; 
    padding: 15px 6px 15px 12px;
}


.boite-filtre i { 
    font-size: 18px;
    margin-left: 5px;
}

.texte-filtre {font-size: 12px;}

.economique-familial {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.economique-familial .boite-filtre {width: 50%;} 



.romantique-animal {

display: flex;
flex-direction: row;
width: 100%;

}
    
.romantique-animal .boite-filtre{width: 50%;} 


.cercle-i { display: flex; align-items: flex-start;}
.cercle-i i { margin: 0 1em 0;}


.hebergement-et-populaire {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100%;
    
}

aside {

width: 100%;
height: 45em;
border-radius: initial;

}

.titre {font-size: 22px;}

.hebergement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.nom-hebergement {font-size: 16px;}

.bloc-hebergement { margin-top: 2em;}

.boite-hebergement {background-color: white;}

h2.sous-titre { margin-bottom: initial;}

.carte-hebergement { width: 75%;}

.carte-populaire{width: 90%;}

aside article {padding-left: 1em;}


.image-hebergement { height: 10em; object-fit: cover;}
.info-hebergement {  margin-top: 1em;}
.detail-hebergement { display: none;}


.Activites { margin-top: 3em;}

h2.titre-activite { 
    margin-bottom: -1.5em; 
    padding: initial;
    width: 30%;
    font-size: 20px;
}



.activite-marseille { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
}

.sous-titre {padding-top: 0.5em;}

.carte-activite {
    width: 100%;
    height: 13.5em;
    margin: 49px 0px 0px 0px;
    margin-left: 2em;
}



.carte-image-activite{ height: 10em;}

.lieu-activite { font-size: 16px;}

.menu-footer { flex-direction: column;}

.bloc-footer{margin-left: initial; width: 100%;}


}



